body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
}


.container__background--large {
    background: black;
    width: 600px;
    text-align: center;
    margin: 20px auto;
    /* border: solid white; */
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    margin-bottom: 80px;
}

.container__background--large--resume {
    background: black;
    width: 700px;
    /* text-align: center; */
    margin: 20px auto;
    /* border: solid white; */
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    margin-bottom: 80px;
}

.links{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

/* h3{
    text-align: center;
} */

p{
    text-align: center;
}

.school{
    text-align: center;
}